<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOOC</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet" />

    <!-- Link CSS document -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- Handlebars -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  </head>

  <body>
    <!-- MENU BAR -->
    <header>
      <nav>
        <div>
          <div>
            <ul class="flex-nav-list">
              <li class="nav-item">
                <a href="/"> <img class="logo" src="images/logo.png" alt="MOOC Logo" /></a>
                <h2 class="text-red" style="float: right">MOOC Website</h2>
              </li>

              <li class="nav-item">
                <a class="menu-link" href="/">Home</a>
              </li>

              <li class="nav-item">
                <div id="courses-dropdown-nav-item" class="dropdown">
                  <span class="text-red cursor-pointer menu-link">Courses</span>
                  <button class="dropbtn">
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div id="courses-dropdown-container" class="dropdown-content">

                  </div>
                </div>
              </li>

              <li class="nav-item">
                <a class="menu-link" href="/about-us">About us</a>
              </li>

              <li class="nav-item">
                <a class="menu-link" href="/contact">Contact</a>
              </li>

              <li class="nav-item">
                <button onclick="window.location.href='/profile'" class="log-btn btn-preferences" type="submit">Login</button>
                <button onclick="window.location.href='/register'" class="register-btn-nav-bar btn-preferences" type="submit">
                  Register
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {{{body}}}

    <!-- Footer -->
    <footer>
      <div id="footer-top-row">
        <img id="company-logo" src="images/logo.png" alt="logo" />

        <div class="flex-col sm-items-center">
          <h4><b>Top Courses</b></h4>
          <a href="/courses?category=1" class="text-black footer-link">Information Technology</a>
          <a href="/courses?category=2" class="text-black footer-link">Management &#38; Strategy</a>
          <a href="/courses?category=3" class="text-black footer-link">Accounting &#38; Finance</a>
        </div>
        <div class="flex-col sm-items-center">
          <h4><b>Company</b></h4>
          <a href="/about-us" class="text-black footer-link">About Us</a>
          <a href="/contact" class="text-black footer-link">Contact Us</a>
          <a href="#" class="text-black footer-link">Our Team</a>
        </div>
        <div class="flex-col sm-items-center footer-grid-buttons">
          <a href="/register" class="btn register-btn">Register</a>
          <a href="#" class="btn log-btn">Log out</a>
        </div>
      </div>

      <hr id="footer-hr" />

      <div class="flex-row flex-wrap flex-content-between sm-m-y-1 sm-flex-content-center">
        <span>&copy; Photo, Inc. 2019. We love our users!</span>
        <div class="flex-row items-center sm-m-y-1">
          <span class="text-black">Follow us:</span>
          <img class="link-img text-black" src="images/fb_icon.png" alt="facebook" />
          <img class="link-img text-black" src="images/twitter_icon.png" alt="twitter" />
          <img class="link-img text-black" src="images/insta_icon.png" alt="instagram" />
          <img class="link-img text-black" src="images/discord_icon.png" alt="discord" />
        </div>
      </div>
    </footer>

    <!-- Handlebars templates -->
    <script id="course-dropdown-link" type="text/x-handlebars-template">
      <a href="\{{this.link}}">\{{this.text}}</a>
    </script>

    <script src="javascript/main.js"></script>

  </body>

</html>