<main class="container">
  <!-- Flex-col div -->
  <section class="flex-col">
    <!-- Flex-row div content-evenly -->
    <div class="flex-row flex-wrap flex-content-evenly items-end py-2">
      <img src="/images/Kostas.png" alt="profile image" id="costas-profile-img" />
      <!-- Flex-col div content-start items-center -->
      <div class="flex-col flex-content-start items-center">
        <h1>Konstantinos Vasilopoulos</h1>
        <div class="flex-row items-center">
          <h3 class="inline text-red">studies @</h3>
          <a href=""><img src="/images/aueb.png" alt="aueb logo" id="costas-aueb-logo" /></a>
        </div>
      </div>
    </div>
    <p class="text-gray">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis a purus eget auctor. Suspendisse blandit nunc
      eget velit auctor, id tempus massa pulvinar. Aliquam porttitor at ante placerat aliquam. Maecenas ex orci, sodales
      ornare dignissim sit amet, laoreet eget nibh. Nullam sodales metus lacus, sed lobortis mi elementum et. Donec vitae nunc
      pellentesque, ultricies ante ac, lacinia velit. Mauris faucibus ipsum id eros maximus, sit amet convallis lacus
      scelerisque. Phasellus egestas odio risus, in mollis ligula posuere sit amet. Morbi congue massa dui, non suscipit nibh
      vulputate eu. Vivamus efficitur tellus et ex bibendum gravida. Phasellus ultricies tortor quis tristique varius.
      Curabitur dictum fringilla nulla ac molestie. Curabitur tincidunt sapien condimentum dictum rutrum. Cras tincidunt nisl
      at tempor aliquet.
    </p>
  </section>

  <!-- Table -->
  <section id="costas-info-table">
    <h2 class="inline text-black sm-text-center">More information here</h2>
    <hr class="inline-block red-line" />

    <table>
      <tr>
        <td>Date of birth</td>
        <td>21 years old</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>Patision street, Athens</td>
      </tr>
      <tr>
        <td>Phone number</td>
        <td>+30 690011223</td>
      </tr>
      <tr>
        <td>Email address</td>
        <td>costasvas34@gmail.com</td>
      </tr>
      <tr>
        <td>Languages</td>
        <td>Greek, English & German</td>
      </tr>
      <tr>
        <td>Programming languages</td>
        <td>Python, Java, JavaScript & C++</td>
      </tr>
    </table>

    <!-- Flex-row div -->
    <div class="flex-row flex-wrap flex-content-center">
      <a class="sm-my-2" href="https://www.linkedin.com/in/konstantinos-vasilopoulos-b0a144223/">
        <img src="/images/linkedin.png" alt="LinkedIn" class="costas-external-links"/>
      </a>
      <a class="sm-my-2" href="https://aueb.gr/">
        <img src="/images/aueb.png" alt="Athens university of economics and business" class="costas-external-links"/>
      </a>
      <a class="sm-my-2" href="https://github.com/KonstantinosVasilopoulos">
        <img src="/images/github.png" alt="Github account" class="costas-external-links"/>
      </a>
    </div>
  </section>
</main>