<!-- Handlebars template for previewing searched courses -->
<script id="category-preview" type="text/x-handlebars-template">
  \{{#each courses}} <div></div>
  \{{/each}}

</script>
<script src="/public/javascript/handlebars-v4.7.7.js"></script>
<script src="javascript/search_courses.js"></script>